<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<div>
  <nav th:replace="layouts :: navbar"></nav>
</div>

<div class="container mt-5">
  <form action="/employees/save" th:object="${employee}" method="POST">

    <div class="mb-3">
      <label class="form-label fw-bold">Name</label>
      <input type="text" class="form-control" placeholder="First name" th:field="${employee.firstName}">
    </div>

    <div class="mb-3">
      <label class="form-label fw-bold">Last name</label>
      <input type="text" class="form-control" placeholder="Last name" th:field="${employee.lastName}">
    </div>

    <div class="mb-3">
      <label class="form-label fw-bold">Email</label>
      <input type="email" class="form-control" placeholder="Email" th:field="${employee.email}">
    </div>


    <button type="submit" class="btn btn-primary mt-2">Create employee</button>
  </form>
</div>
</body>
</html>